@import "../../../styles/Variables.module.css";

.accountCard {
	position: absolute;
	right: 20px;
	top: 0;
	cursor: pointer;
}

.accountCard:hover > span,
.accountCard:active > span {
	color: var(--brown-dark);
}

.accountCard:hover > i,
.accountCard:active > i {
	color: var(--brown-dark);
}

.accountCard__name {
	margin-left: 10px;
	color: var(--blue-dark);
}

.accountCard__icon {
	color: var(--blue-dark);
}
